body {
    background-image: url("wedding_promo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; center;

    font-family: sans-serif;
}

#content {
    background: rgba(255, 255, 255, 0.8);
    min-height: 50%;
    max-width: 40em;
    padding: 1em;
    margin: 5em auto;
}

h1 {
    text-align: center;
}
iframe.captcha {
    width: 305px;
    height: 80px;
    border: none;
}
div.input {
    margin: 1em;
}
.input > label:first-child {
    display: block;
}
